body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-279px;
  width:625px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5865 {
  position:absolute;
  left:279px;
  top:273px;
  width:250px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5866 {
  position:absolute;
  left:15px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u5867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u5867 {
  position:absolute;
  left:504px;
  top:291px;
  width:11px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5868 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5870 {
  position:absolute;
  left:279px;
  top:312px;
  width:595px;
  height:270px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5871 {
  position:absolute;
  left:2px;
  top:127px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5872 {
  position:absolute;
  left:501px;
  top:325px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5873 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5874 {
  position:absolute;
  left:421px;
  top:325px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5875 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5876 {
  position:absolute;
  left:585px;
  top:325px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5877 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5878 {
  position:absolute;
  left:421px;
  top:395px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5879 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5880 {
  position:absolute;
  left:421px;
  top:497px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5881 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5882 {
  position:absolute;
  left:421px;
  top:567px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5883 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5884 {
  position:absolute;
  left:669px;
  top:325px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5885 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5886 {
  position:absolute;
  left:501px;
  top:357px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5887 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5888 {
  position:absolute;
  left:585px;
  top:357px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5889 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5890 {
  position:absolute;
  left:669px;
  top:357px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5891 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5892 {
  position:absolute;
  left:753px;
  top:357px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5893 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5894 {
  position:absolute;
  left:501px;
  top:395px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5895 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5896 {
  position:absolute;
  left:585px;
  top:395px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5897 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5898 {
  position:absolute;
  left:669px;
  top:395px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5899 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5900 {
  position:absolute;
  left:753px;
  top:395px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5901 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5902 {
  position:absolute;
  left:501px;
  top:427px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5903 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5904 {
  position:absolute;
  left:585px;
  top:427px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5905 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5906 {
  position:absolute;
  left:669px;
  top:427px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5907 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5908 {
  position:absolute;
  left:753px;
  top:427px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5909 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5910 {
  position:absolute;
  left:501px;
  top:459px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5911 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5912 {
  position:absolute;
  left:585px;
  top:459px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5913 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5914 {
  position:absolute;
  left:669px;
  top:459px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5915 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5916 {
  position:absolute;
  left:501px;
  top:497px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5917 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5918 {
  position:absolute;
  left:585px;
  top:497px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5919 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5920 {
  position:absolute;
  left:669px;
  top:497px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5921 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5922 {
  position:absolute;
  left:753px;
  top:497px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5923 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5924 {
  position:absolute;
  left:501px;
  top:529px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5925 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5926 {
  position:absolute;
  left:585px;
  top:529px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5927 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5928 {
  position:absolute;
  left:501px;
  top:567px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5929 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5930 {
  position:absolute;
  left:585px;
  top:567px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5931 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5932 {
  position:absolute;
  left:669px;
  top:567px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5933 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:24px;
}
#u5934 {
  position:absolute;
  left:285px;
  top:581px;
  width:589px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5935 {
  position:absolute;
  left:2px;
  top:4px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5936 {
  position:absolute;
  left:753px;
  top:325px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5937 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5938 {
  position:absolute;
  left:279px;
  top:352px;
  width:111px;
  height:230px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5939 {
  position:absolute;
  left:2px;
  top:107px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5940 {
  position:absolute;
  left:279px;
  top:312px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5941 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5942 {
  position:absolute;
  left:279px;
  top:352px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5943 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5944 {
  position:absolute;
  left:279px;
  top:392px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5945 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5946 {
  position:absolute;
  left:279px;
  top:432px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5947 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5948 {
  position:absolute;
  left:279px;
  top:469px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5949 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5951 {
  position:absolute;
  left:279px;
  top:131px;
  width:250px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5952 {
  position:absolute;
  left:15px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u5953 {
  position:absolute;
  left:504px;
  top:149px;
  width:11px;
  height:6px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
#u5955 {
  position:absolute;
  left:279px;
  top:80px;
  width:250px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5956 {
  position:absolute;
  left:0px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
#u5957 {
  position:absolute;
  left:279px;
  top:219px;
  width:250px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5958 {
  position:absolute;
  left:0px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5960 {
  position:absolute;
  left:654px;
  top:131px;
  width:250px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5961 {
  position:absolute;
  left:15px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u5962 {
  position:absolute;
  left:879px;
  top:149px;
  width:11px;
  height:6px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:36px;
}
#u5964 {
  position:absolute;
  left:654px;
  top:80px;
  width:250px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u5965 {
  position:absolute;
  left:0px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  -webkit-box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  box-shadow:0px 0px 5px rgba(204, 204, 204, 1);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5967 {
  position:absolute;
  left:279px;
  top:639px;
  width:250px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u5968 {
  position:absolute;
  left:15px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u5969 {
  position:absolute;
  left:504px;
  top:657px;
  width:11px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5970 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5972 {
  position:absolute;
  left:279px;
  top:678px;
  width:595px;
  height:270px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5973 {
  position:absolute;
  left:2px;
  top:127px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5974 {
  position:absolute;
  left:501px;
  top:691px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5975 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5976 {
  position:absolute;
  left:421px;
  top:691px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5977 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5978 {
  position:absolute;
  left:585px;
  top:691px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5979 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5980 {
  position:absolute;
  left:421px;
  top:761px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5981 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5982 {
  position:absolute;
  left:421px;
  top:863px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5983 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5984 {
  position:absolute;
  left:421px;
  top:933px;
  width:56px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u5985 {
  position:absolute;
  left:0px;
  top:3px;
  width:56px;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5986 {
  position:absolute;
  left:669px;
  top:691px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5987 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5988 {
  position:absolute;
  left:501px;
  top:723px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5989 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5990 {
  position:absolute;
  left:585px;
  top:723px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5991 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5992 {
  position:absolute;
  left:669px;
  top:723px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5993 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5994 {
  position:absolute;
  left:753px;
  top:723px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u5995 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5996 {
  position:absolute;
  left:501px;
  top:761px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5997 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5998 {
  position:absolute;
  left:585px;
  top:761px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u5999 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6000 {
  position:absolute;
  left:669px;
  top:761px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6001 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6002 {
  position:absolute;
  left:753px;
  top:761px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6003 {
  position:absolute;
  left:8px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6004 {
  position:absolute;
  left:501px;
  top:793px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6005 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6006 {
  position:absolute;
  left:585px;
  top:793px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6007 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6008 {
  position:absolute;
  left:669px;
  top:793px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6009 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6010 {
  position:absolute;
  left:753px;
  top:793px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6011 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6012 {
  position:absolute;
  left:501px;
  top:825px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6013 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6014 {
  position:absolute;
  left:585px;
  top:825px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6015 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6016 {
  position:absolute;
  left:669px;
  top:825px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6017 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6018 {
  position:absolute;
  left:501px;
  top:863px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6019 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6020 {
  position:absolute;
  left:585px;
  top:863px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6021 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6022 {
  position:absolute;
  left:669px;
  top:863px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6023 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6024 {
  position:absolute;
  left:753px;
  top:863px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6025 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6026 {
  position:absolute;
  left:501px;
  top:895px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6027 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6028 {
  position:absolute;
  left:585px;
  top:895px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6029 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6030 {
  position:absolute;
  left:501px;
  top:933px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6031 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6032 {
  position:absolute;
  left:585px;
  top:933px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6033 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6034 {
  position:absolute;
  left:669px;
  top:933px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6035 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:24px;
}
#u6036 {
  position:absolute;
  left:285px;
  top:947px;
  width:589px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6037 {
  position:absolute;
  left:2px;
  top:4px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6038 {
  position:absolute;
  left:753px;
  top:691px;
  width:74px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:18px;
}
#u6039 {
  position:absolute;
  left:8px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:230px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6040 {
  position:absolute;
  left:279px;
  top:718px;
  width:111px;
  height:230px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6041 {
  position:absolute;
  left:2px;
  top:107px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6042 {
  position:absolute;
  left:279px;
  top:678px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6043 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6044 {
  position:absolute;
  left:279px;
  top:718px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6045 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u6046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6046 {
  position:absolute;
  left:279px;
  top:758px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6047 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6048 {
  position:absolute;
  left:279px;
  top:798px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6049 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6050 {
  position:absolute;
  left:279px;
  top:835px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u6051 {
  position:absolute;
  left:20px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u6052 {
  position:absolute;
  left:279px;
  top:948px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
