body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:1071px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3689_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:163px;
}
#u3689 {
  position:absolute;
  left:377px;
  top:192px;
  width:2px;
  height:160px;
}
#u3690 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:83px;
}
#u3691 {
  position:absolute;
  left:377px;
  top:192px;
  width:2px;
  height:80px;
}
#u3692 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3694 {
  position:absolute;
  left:363px;
  top:162px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3695 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3696 {
  position:absolute;
  left:393px;
  top:160px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3697 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3698 {
  position:absolute;
  left:393px;
  top:224px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3699 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3700 {
  position:absolute;
  left:393px;
  top:287px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3701 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3702 {
  position:absolute;
  left:393px;
  top:350px;
  width:159px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3703 {
  position:absolute;
  left:10px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u3704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3704 {
  position:absolute;
  left:363px;
  top:289px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3705 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3706 {
  position:absolute;
  left:363px;
  top:352px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3707 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3708 {
  position:absolute;
  left:363px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3709 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3711_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:163px;
}
#u3711 {
  position:absolute;
  left:73px;
  top:192px;
  width:2px;
  height:160px;
}
#u3712 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3713_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u3713 {
  position:absolute;
  left:73px;
  top:192px;
  width:2px;
  height:16px;
}
#u3714 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3716 {
  position:absolute;
  left:59px;
  top:162px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
}
#u3717 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3718 {
  position:absolute;
  left:89px;
  top:160px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3719 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3720 {
  position:absolute;
  left:89px;
  top:224px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3721 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3722 {
  position:absolute;
  left:89px;
  top:287px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3723 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3724 {
  position:absolute;
  left:89px;
  top:350px;
  width:159px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3725 {
  position:absolute;
  left:10px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3726 {
  position:absolute;
  left:59px;
  top:289px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3727 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3728 {
  position:absolute;
  left:59px;
  top:352px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3729 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3730 {
  position:absolute;
  left:59px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3731 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3733_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:163px;
}
#u3733 {
  position:absolute;
  left:686px;
  top:192px;
  width:2px;
  height:160px;
}
#u3734 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3735_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:146px;
}
#u3735 {
  position:absolute;
  left:686px;
  top:192px;
  width:2px;
  height:143px;
}
#u3736 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3738 {
  position:absolute;
  left:672px;
  top:162px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3739 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3740 {
  position:absolute;
  left:702px;
  top:160px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3741 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3742 {
  position:absolute;
  left:702px;
  top:225px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3743 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3744 {
  position:absolute;
  left:702px;
  top:288px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3745 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3746 {
  position:absolute;
  left:702px;
  top:350px;
  width:159px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3747 {
  position:absolute;
  left:10px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u3748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3748 {
  position:absolute;
  left:672px;
  top:289px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3749 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3750 {
  position:absolute;
  left:672px;
  top:352px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u3751 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3752 {
  position:absolute;
  left:672px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3753 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3755_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:163px;
}
#u3755 {
  position:absolute;
  left:953px;
  top:192px;
  width:2px;
  height:160px;
}
#u3756 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3757_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:163px;
}
#u3757 {
  position:absolute;
  left:953px;
  top:192px;
  width:2px;
  height:160px;
}
#u3758 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3760 {
  position:absolute;
  left:939px;
  top:162px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3761 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3762 {
  position:absolute;
  left:969px;
  top:160px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3763 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3764 {
  position:absolute;
  left:969px;
  top:225px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3765 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3766 {
  position:absolute;
  left:969px;
  top:288px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:22px;
}
#u3767 {
  position:absolute;
  left:10px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u3768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3768 {
  position:absolute;
  left:969px;
  top:351px;
  width:159px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
  line-height:22px;
}
#u3769 {
  position:absolute;
  left:10px;
  top:2px;
  width:147px;
  word-wrap:break-word;
}
#u3770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3770 {
  position:absolute;
  left:939px;
  top:289px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3771 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3772 {
  position:absolute;
  left:939px;
  top:352px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3773 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u3774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3774 {
  position:absolute;
  left:939px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#1ABC9C;
}
#u3775 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
