body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-69px;
  width:1061px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1748-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1748-2 {
  position:absolute;
  left:20px;
  top:0px;
  width:0px;
  height:0px;
}
#u1748-3 {
  position:absolute;
  left:40px;
  top:0px;
  width:0px;
  height:0px;
}
#u1748 {
  position:absolute;
  left:20px;
  top:305px;
  width:40px;
  height:0px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:70px;
}
#u1749 {
  position:absolute;
  left:70px;
  top:58px;
  width:520px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1750 {
  position:absolute;
  left:30px;
  top:17px;
  width:460px;
  word-wrap:break-word;
}
#u1751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1751 {
  position:absolute;
  left:70px;
  top:130px;
  width:520px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1752 {
  position:absolute;
  left:30px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:70px;
}
#u1753 {
  position:absolute;
  left:610px;
  top:58px;
  width:520px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:36px;
}
#u1754 {
  position:absolute;
  left:30px;
  top:17px;
  width:460px;
  word-wrap:break-word;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1755 {
  position:absolute;
  left:610px;
  top:130px;
  width:520px;
  height:97px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1756 {
  position:absolute;
  left:30px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u1757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:100px;
}
#u1757 {
  position:absolute;
  left:69px;
  top:276px;
  width:340px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1758 {
  position:absolute;
  left:30px;
  top:18px;
  width:280px;
  word-wrap:break-word;
}
#u1759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1759 {
  position:absolute;
  left:69px;
  top:376px;
  width:340px;
  height:132px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1760 {
  position:absolute;
  left:30px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:100px;
}
#u1761 {
  position:absolute;
  left:429px;
  top:276px;
  width:340px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1762 {
  position:absolute;
  left:30px;
  top:18px;
  width:280px;
  word-wrap:break-word;
}
#u1763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1763 {
  position:absolute;
  left:429px;
  top:376px;
  width:340px;
  height:132px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1764 {
  position:absolute;
  left:30px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:100px;
}
#u1765 {
  position:absolute;
  left:789px;
  top:276px;
  width:340px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1766 {
  position:absolute;
  left:30px;
  top:18px;
  width:280px;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1767 {
  position:absolute;
  left:789px;
  top:376px;
  width:340px;
  height:132px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1768 {
  position:absolute;
  left:30px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:110px;
}
#u1769 {
  position:absolute;
  left:69px;
  top:558px;
  width:250px;
  height:110px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1770 {
  position:absolute;
  left:30px;
  top:23px;
  width:190px;
  word-wrap:break-word;
}
#u1771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1771 {
  position:absolute;
  left:69px;
  top:668px;
  width:250px;
  height:205px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1772 {
  position:absolute;
  left:30px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:110px;
}
#u1773 {
  position:absolute;
  left:339px;
  top:558px;
  width:250px;
  height:110px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1774 {
  position:absolute;
  left:30px;
  top:23px;
  width:190px;
  word-wrap:break-word;
}
#u1775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1775 {
  position:absolute;
  left:339px;
  top:668px;
  width:250px;
  height:205px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1776 {
  position:absolute;
  left:30px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:110px;
}
#u1777 {
  position:absolute;
  left:609px;
  top:558px;
  width:250px;
  height:110px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1778 {
  position:absolute;
  left:30px;
  top:23px;
  width:190px;
  word-wrap:break-word;
}
#u1779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1779 {
  position:absolute;
  left:609px;
  top:668px;
  width:250px;
  height:205px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1780 {
  position:absolute;
  left:30px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:110px;
}
#u1781 {
  position:absolute;
  left:879px;
  top:558px;
  width:250px;
  height:110px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
  line-height:32px;
}
#u1782 {
  position:absolute;
  left:30px;
  top:23px;
  width:190px;
  word-wrap:break-word;
}
#u1783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1783 {
  position:absolute;
  left:879px;
  top:668px;
  width:250px;
  height:205px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:26px;
}
#u1784 {
  position:absolute;
  left:30px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1785 {
  position:absolute;
  left:70px;
  top:873px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
