body {
  margin:0px;
  background-color:rgba(113, 128, 143, 1);
  background-image:none;
  position:relative;
  left:-300px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4155 {
  position:absolute;
  left:300px;
  top:120px;
  width:600px;
  height:400px;
  overflow:hidden;
}
#u4155_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  overflow:hidden;
}
#u4156_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4156_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4158 {
  position:absolute;
  left:2px;
  top:140px;
  width:596px;
  word-wrap:break-word;
}
#u4156_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4156_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4159 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4160 {
  position:absolute;
  left:2px;
  top:140px;
  width:596px;
  word-wrap:break-word;
}
#u4156_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4156_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4162 {
  position:absolute;
  left:2px;
  top:140px;
  width:596px;
  word-wrap:break-word;
}
#u4156_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4156_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:400px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u4164 {
  position:absolute;
  left:2px;
  top:140px;
  width:596px;
  word-wrap:break-word;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4166 {
  position:absolute;
  left:267px;
  top:358px;
  width:12px;
  height:12px;
}
#u4166_img.selected {
}
#u4166.selected {
}
#u4167 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4168 {
  position:absolute;
  left:285px;
  top:358px;
  width:12px;
  height:12px;
}
#u4168_img.selected {
}
#u4168.selected {
}
#u4169 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4170 {
  position:absolute;
  left:303px;
  top:358px;
  width:12px;
  height:12px;
}
#u4170_img.selected {
}
#u4170.selected {
}
#u4171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4172 {
  position:absolute;
  left:321px;
  top:358px;
  width:12px;
  height:12px;
}
#u4172_img.selected {
}
#u4172.selected {
}
#u4173 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
