body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-179px;
  width:836px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(235, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 235, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8218 {
  position:absolute;
  left:615px;
  top:120px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8219 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8220 {
  position:absolute;
  left:615px;
  top:120px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#3399FF;
  text-align:center;
}
#u8221 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8222 {
  position:absolute;
  left:994px;
  top:130px;
  width:10px;
  height:10px;
}
#u8222_img.mouseOver {
}
#u8222.mouseOver {
}
#u8223 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(230, 250, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 245, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8225 {
  position:absolute;
  left:615px;
  top:211px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8226 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8227 {
  position:absolute;
  left:615px;
  top:211px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#00CC66;
  text-align:center;
}
#u8228 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8229 {
  position:absolute;
  left:994px;
  top:222px;
  width:10px;
  height:10px;
}
#u8229_img.mouseOver {
}
#u8229.mouseOver {
}
#u8230 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8232 {
  position:absolute;
  left:615px;
  top:303px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8233 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8234 {
  position:absolute;
  left:615px;
  top:303px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FF992F;
  text-align:center;
}
#u8235 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8236 {
  position:absolute;
  left:994px;
  top:314px;
  width:10px;
  height:10px;
}
#u8236_img.mouseOver {
}
#u8236.mouseOver {
}
#u8237 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8239 {
  position:absolute;
  left:615px;
  top:396px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8240 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8241 {
  position:absolute;
  left:615px;
  top:396px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FF5918;
  text-align:center;
}
#u8242 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8243 {
  position:absolute;
  left:994px;
  top:407px;
  width:10px;
  height:10px;
}
#u8243_img.mouseOver {
}
#u8243.mouseOver {
}
#u8244 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(230, 250, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 245, 224, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8246 {
  position:absolute;
  left:179px;
  top:211px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8247 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8248 {
  position:absolute;
  left:179px;
  top:211px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#00CC66;
  text-align:center;
}
#u8249 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(235, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 235, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8251 {
  position:absolute;
  left:179px;
  top:120px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8252 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8253 {
  position:absolute;
  left:179px;
  top:120px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#3399FF;
  text-align:center;
}
#u8254 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 245, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 235, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8256 {
  position:absolute;
  left:179px;
  top:303px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8257 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8258 {
  position:absolute;
  left:179px;
  top:303px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FF992F;
  text-align:center;
}
#u8259 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u8260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 238, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 221, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8261 {
  position:absolute;
  left:179px;
  top:396px;
  width:400px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8262 {
  position:absolute;
  left:60px;
  top:15px;
  width:320px;
  word-wrap:break-word;
}
#u8263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:70px;
}
#u8263 {
  position:absolute;
  left:179px;
  top:396px;
  width:60px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FF5918;
  text-align:center;
}
#u8264 {
  position:absolute;
  left:0px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
