body {
  margin:0px;
  background-color:rgba(101, 113, 128, 1);
  background-image:none;
  position:relative;
  left:-498px;
  width:203px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u8901 {
  position:absolute;
  left:576px;
  top:280px;
  width:100px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u8901_img.mouseOver {
}
#u8901.mouseOver {
  opacity:0.800000011920929;
}
#u8901_img.mouseDown {
}
#u8901.mouseDown {
  opacity:1;
}
#u8901_img.selected {
}
#u8901.selected {
}
#u8902 {
  position:absolute;
  left:36px;
  top:8px;
  width:39px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:14px 17px;
  -ms-transform-origin:14px 17px;
  -moz-transform-origin:14px 17px;
  -webkit-transform-origin:14px 17px;
}
#u8903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u8903 {
  position:absolute;
  left:525px;
  top:280px;
  width:100px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u8903_img.mouseOver {
}
#u8903.mouseOver {
  opacity:0.800000011920929;
}
#u8903_img.mouseDown {
}
#u8903.mouseDown {
  opacity:1;
}
#u8903_img.selected {
}
#u8903.selected {
}
#u8904 {
  position:absolute;
  left:36px;
  top:8px;
  width:28px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:14px 17px;
  -ms-transform-origin:14px 17px;
  -moz-transform-origin:14px 17px;
  -webkit-transform-origin:14px 17px;
}
#u8905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8906 {
  position:absolute;
  left:535px;
  top:367px;
  width:65px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8906_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8906.mouseOver {
  opacity:0.800000011920929;
}
#u8906_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8906.mouseDown {
  opacity:1;
}
#u8906_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8906.selected {
}
#u8907 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u8908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8908 {
  position:absolute;
  left:601px;
  top:367px;
  width:65px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8908_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8908.mouseOver {
  opacity:0.800000011920929;
}
#u8908_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8908.mouseDown {
  opacity:1;
}
#u8908_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  line-height:30px;
}
#u8908.selected {
}
#u8909 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u8910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8911 {
  position:absolute;
  left:583px;
  top:127px;
  width:40px;
  height:45px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8911_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8911.mouseOver {
  opacity:0.800000011920929;
}
#u8911_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8911.mouseDown {
  opacity:1;
}
#u8911_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8911.selected {
}
#u8912 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8913 {
  position:absolute;
  left:583px;
  top:80px;
  width:40px;
  height:45px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8913_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8913.mouseOver {
  opacity:0.800000011920929;
}
#u8913_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8913.mouseDown {
  opacity:1;
}
#u8913_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8913.selected {
}
#u8914 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u8915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8916 {
  position:absolute;
  left:602px;
  top:185px;
  width:45px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8916_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8916.mouseOver {
  opacity:0.800000011920929;
}
#u8916_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8916.mouseDown {
  opacity:1;
}
#u8916_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8916.selected {
}
#u8917 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u8918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8918 {
  position:absolute;
  left:555px;
  top:185px;
  width:45px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8918_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8918.mouseOver {
  opacity:0.800000011920929;
}
#u8918_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8918.mouseDown {
  opacity:1;
}
#u8918_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u8918.selected {
}
#u8919 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u8920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8921 {
  position:absolute;
  left:498px;
  top:503px;
  width:50px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8921_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8921.mouseOver {
  opacity:0.800000011920929;
}
#u8921_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8921.mouseDown {
  opacity:1;
}
#u8921_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8921.selected {
}
#u8922 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u8923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8923 {
  position:absolute;
  left:549px;
  top:503px;
  width:50px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8923_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8923.mouseOver {
  opacity:0.800000011920929;
}
#u8923_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8923.mouseDown {
  opacity:1;
}
#u8923_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8923.selected {
}
#u8924 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u8925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8925 {
  position:absolute;
  left:600px;
  top:503px;
  width:50px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8925.mouseOver {
  opacity:0.800000011920929;
}
#u8925_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8925.mouseDown {
  opacity:1;
}
#u8925_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8925.selected {
}
#u8926 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u8927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8927 {
  position:absolute;
  left:651px;
  top:503px;
  width:50px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8927_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8927.mouseOver {
  opacity:0.800000011920929;
}
#u8927_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8927.mouseDown {
  opacity:1;
}
#u8927_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8927.selected {
}
#u8928 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u8929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8930 {
  position:absolute;
  left:523px;
  top:455px;
  width:38px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8930_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8930.mouseOver {
  opacity:0.800000011920929;
}
#u8930_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8930.mouseDown {
  opacity:1;
}
#u8930_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:8px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8930.selected {
}
#u8931 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  word-wrap:break-word;
}
#u8932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8932 {
  position:absolute;
  left:562px;
  top:455px;
  width:38px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8932_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8932.mouseOver {
  opacity:0.800000011920929;
}
#u8932_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8932.mouseDown {
  opacity:1;
}
#u8932_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8932.selected {
}
#u8933 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  word-wrap:break-word;
}
#u8934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8934 {
  position:absolute;
  left:601px;
  top:455px;
  width:38px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8934_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8934.mouseOver {
  opacity:0.800000011920929;
}
#u8934_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8934.mouseDown {
  opacity:1;
}
#u8934_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8934.selected {
}
#u8935 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  word-wrap:break-word;
}
#u8936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8936 {
  position:absolute;
  left:640px;
  top:455px;
  width:38px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8936_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8936.mouseOver {
  opacity:0.800000011920929;
}
#u8936_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8936.mouseDown {
  opacity:1;
}
#u8936_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u8936.selected {
}
#u8937 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  word-wrap:break-word;
}
