body {
  margin:0px;
  background-color:rgba(101, 113, 128, 1);
  background-image:none;
  position:relative;
  left:-299px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9608 {
  position:absolute;
  left:299px;
  top:221px;
  width:600px;
  height:501px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9609 {
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9610 {
  position:absolute;
  left:299px;
  top:300px;
  width:600px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9611 {
  position:absolute;
  left:20px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u9612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9612 {
  position:absolute;
  left:333px;
  top:243px;
  width:50px;
  height:50px;
}
#u9613 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u9614 {
  position:absolute;
  left:383px;
  top:243px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9615 {
  position:absolute;
  left:10px;
  top:2px;
  width:170px;
  word-wrap:break-word;
}
#u9616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u9616 {
  position:absolute;
  left:299px;
  top:650px;
  width:151px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9616_img.mouseOver {
}
#u9616.mouseOver {
}
#u9617 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u9618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u9618 {
  position:absolute;
  left:450px;
  top:650px;
  width:151px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9618_img.mouseOver {
}
#u9618.mouseOver {
}
#u9619 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u9620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u9620 {
  position:absolute;
  left:600px;
  top:650px;
  width:150px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9620_img.mouseOver {
}
#u9620.mouseOver {
}
#u9621 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u9622 {
  position:absolute;
  left:749px;
  top:650px;
  width:150px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9622_img.mouseOver {
}
#u9622.mouseOver {
}
#u9623 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:180px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9624 {
  position:absolute;
  left:299px;
  top:20px;
  width:600px;
  height:180px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9625 {
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u9626 {
  position:absolute;
  left:314px;
  top:141px;
  width:84px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9627 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u9628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u9628 {
  position:absolute;
  left:398px;
  top:141px;
  width:84px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9629 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u9630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u9630 {
  position:absolute;
  left:480px;
  top:141px;
  width:83px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9631 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u9632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632 {
  position:absolute;
  left:744px;
  top:141px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632.mouseOver {
  opacity:0.8;
}
#u9632_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9632.mouseDown {
  opacity:1;
}
#u9633 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u9634_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:604px;
  height:46px;
}
#u9634 {
  position:absolute;
  left:299px;
  top:20px;
  width:600px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9635 {
  position:absolute;
  left:15px;
  top:10px;
  width:565px;
  word-wrap:break-word;
}
#u9636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9636 {
  position:absolute;
  left:314px;
  top:62px;
  width:570px;
  height:69px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9637 {
  position:absolute;
  left:20px;
  top:15px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:250px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:36px;
}
#u9638 {
  position:absolute;
  left:314px;
  top:396px;
  width:570px;
  height:250px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  line-height:36px;
}
#u9639 {
  position:absolute;
  left:30px;
  top:107px;
  width:510px;
  word-wrap:break-word;
}
#u9640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9640 {
  position:absolute;
  left:299px;
  top:747px;
  width:600px;
  height:251px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9641 {
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9642 {
  position:absolute;
  left:299px;
  top:826px;
  width:600px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9643 {
  position:absolute;
  left:20px;
  top:10px;
  width:560px;
  word-wrap:break-word;
}
#u9644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9644 {
  position:absolute;
  left:333px;
  top:769px;
  width:50px;
  height:50px;
}
#u9645 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u9646 {
  position:absolute;
  left:383px;
  top:769px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9647 {
  position:absolute;
  left:10px;
  top:2px;
  width:170px;
  word-wrap:break-word;
}
#u9648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u9648 {
  position:absolute;
  left:299px;
  top:935px;
  width:151px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9648_img.mouseOver {
}
#u9648.mouseOver {
}
#u9649 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u9650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:50px;
}
#u9650 {
  position:absolute;
  left:450px;
  top:935px;
  width:151px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9650_img.mouseOver {
}
#u9650.mouseOver {
}
#u9651 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u9652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u9652 {
  position:absolute;
  left:600px;
  top:935px;
  width:150px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9652_img.mouseOver {
}
#u9652.mouseOver {
}
#u9653 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u9654 {
  position:absolute;
  left:749px;
  top:935px;
  width:150px;
  height:50px;
  color:#999999;
  line-height:24px;
}
#u9654_img.mouseOver {
}
#u9654.mouseOver {
}
#u9655 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  word-wrap:break-word;
}
#u9656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:501px;
}
#u9656 {
  position:absolute;
  left:299px;
  top:985px;
  width:600px;
  height:501px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9657 {
  position:absolute;
  left:20px;
  top:15px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9658 {
  position:absolute;
  left:382px;
  top:1172px;
  width:502px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9659 {
  position:absolute;
  left:20px;
  top:10px;
  width:462px;
  word-wrap:break-word;
}
#u9660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9660 {
  position:absolute;
  left:382px;
  top:1254px;
  width:502px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9661 {
  position:absolute;
  left:20px;
  top:10px;
  width:462px;
  word-wrap:break-word;
}
#u9662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9662 {
  position:absolute;
  left:382px;
  top:1331px;
  width:502px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u9663 {
  position:absolute;
  left:20px;
  top:10px;
  width:462px;
  word-wrap:break-word;
}
#u9664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9664 {
  position:absolute;
  left:759px;
  top:1102px;
  width:111px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9664_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9664.mouseOver {
  opacity:0.8;
}
#u9664_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9664.mouseDown {
  opacity:1;
}
#u9665 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u9666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9666 {
  position:absolute;
  left:398px;
  top:1023px;
  width:472px;
  height:69px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9667 {
  position:absolute;
  left:20px;
  top:15px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9668 {
  position:absolute;
  left:333px;
  top:1023px;
  width:50px;
  height:50px;
}
#u9669 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u9670 {
  position:absolute;
  left:398px;
  top:1102px;
  width:84px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9671 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u9672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u9672 {
  position:absolute;
  left:482px;
  top:1102px;
  width:84px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9673 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u9674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u9674 {
  position:absolute;
  left:564px;
  top:1102px;
  width:83px;
  height:40px;
  text-align:left;
  line-height:24px;
}
#u9675 {
  position:absolute;
  left:2px;
  top:9px;
  width:79px;
  word-wrap:break-word;
}
#u9676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u9676 {
  position:absolute;
  left:670px;
  top:243px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u9677 {
  position:absolute;
  left:10px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u9678 {
  position:absolute;
  left:684px;
  top:769px;
  width:200px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u9679 {
  position:absolute;
  left:10px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
#u9680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u9680 {
  position:absolute;
  left:333px;
  top:1416px;
  width:537px;
  height:67px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u9681 {
  position:absolute;
  left:20px;
  top:22px;
  width:497px;
  word-wrap:break-word;
}
#u9682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9682 {
  position:absolute;
  left:332px;
  top:1180px;
  width:50px;
  height:50px;
}
#u9683 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9684 {
  position:absolute;
  left:332px;
  top:1256px;
  width:50px;
  height:50px;
}
#u9685 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9686 {
  position:absolute;
  left:332px;
  top:1338px;
  width:50px;
  height:50px;
}
#u9687 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9688 {
  position:absolute;
  left:299px;
  top:1486px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
