body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10637 {
  position:absolute;
  left:0px;
  top:200px;
  width:1200px;
  height:1702px;
}
#u10638 {
  position:absolute;
  left:2px;
  top:843px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10640 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u10641 {
  position:absolute;
  left:0px;
  top:1912px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u10642 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u10645 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:80px;
}
#u10645_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u10645_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u10646 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u10647 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10648 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
}
#u10648_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(99, 209, 196, 1);
  background-image:none;
}
#u10648_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 209, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10649 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u10650 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 209, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10651 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  color:#FFFFFF;
}
#u10652 {
  position:absolute;
  left:2px;
  top:23px;
  width:1196px;
  word-wrap:break-word;
}
