body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-203px;
  width:788px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5480 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5481 {
  position:absolute;
  left:203px;
  top:143px;
  width:360px;
  height:200px;
}
#u5481_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5481.selected {
}
#u5482 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5483 {
  position:absolute;
  left:211px;
  top:149px;
  width:348px;
  height:190px;
}
#u5483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:190px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5484 {
  position:absolute;
  left:203px;
  top:370px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5484_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5484.mouseOver {
  opacity:0.8;
}
#u5484_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5484.mouseDown {
  opacity:1;
}
#u5485 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u5486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u5487 {
  position:absolute;
  left:631px;
  top:143px;
  width:360px;
  height:200px;
  color:#CCCCCC;
  text-align:left;
}
#u5487_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u5487.selected {
}
#u5488 {
  position:absolute;
  left:10px;
  top:10px;
  width:348px;
  word-wrap:break-word;
}
#u5489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5489 {
  position:absolute;
  left:631px;
  top:370px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5489_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5489.mouseOver {
  opacity:0.8;
}
#u5489_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5489.mouseDown {
  opacity:1;
}
#u5490 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
