body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
  overflow:hidden;
}
#u1007_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1007_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  overflow:hidden;
}
#u1008_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1008_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011 {
  position:absolute;
  left:0px;
  top:50px;
  width:1200px;
  height:1px;
  overflow:hidden;
}
#u1011_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1011_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1012 {
  position:absolute;
  left:1127px;
  top:0px;
}
#u1012_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1012_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  color:#999999;
  line-height:28px;
}
#u1013_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1013.mouseOver {
}
#u1013_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1013.mouseDown {
  opacity:0.8;
}
#u1013_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1013.selected {
}
#u1014 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1015 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:50px;
  color:#999999;
  line-height:28px;
}
#u1015_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1015.mouseOver {
}
#u1015_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1015.mouseDown {
  opacity:0.8;
}
#u1015_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:28px;
}
#u1015.selected {
}
#u1016 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:hidden;
}
#u1017_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u1017_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020 {
  position:absolute;
  left:0px;
  top:100px;
}
#u1020_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(49, 53, 64, 1);
  background-image:none;
}
#u1020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:600px;
}
#u1021_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1021_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1022_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1022.mouseOver {
}
#u1023 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1024 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1026 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1026_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1026.mouseOver {
}
#u1026_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1026.selected {
}
#u1027 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1028 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1028_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1028.mouseOver {
}
#u1028_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1028.selected {
}
#u1029 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1030 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1030_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1030.mouseOver {
}
#u1030_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1030.selected {
}
#u1031 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1021_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1021_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1032.mouseOver {
}
#u1033 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1034 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:400px;
}
#u1036_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1036_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1037_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1037.mouseOver {
}
#u1038 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1039 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1041 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1041_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1041.mouseOver {
}
#u1041_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1041.selected {
}
#u1042 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1043 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1043_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1043.mouseOver {
}
#u1043_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1043.selected {
}
#u1044 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1045 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1045_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1045.mouseOver {
}
#u1045_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1045.selected {
}
#u1046 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1036_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1036_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1047_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1047.mouseOver {
}
#u1048 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1049 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1051 {
  position:absolute;
  left:0px;
  top:200px;
}
#u1051_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1051_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1052_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1052.mouseOver {
}
#u1053 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1054 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1056 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1056_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1056.mouseOver {
}
#u1056_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1056.selected {
}
#u1057 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1058 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1058_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1058.mouseOver {
}
#u1058_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1058.selected {
}
#u1059 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1060_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1060.mouseOver {
}
#u1060_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1060.selected {
}
#u1061 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1051_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1051_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1062_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1062.mouseOver {
}
#u1063 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1064 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1065 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1066_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1067_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1067.mouseOver {
}
#u1068 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1069 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1069_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1069.mouseOver {
}
#u1069_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1069.selected {
}
#u1070 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1071 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1071_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1071.mouseOver {
}
#u1071_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1071.selected {
}
#u1072 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1073_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(49, 53, 64, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1073.mouseOver {
}
#u1073_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u1073.selected {
}
#u1074 {
  position:absolute;
  left:50px;
  top:16px;
  width:148px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1075 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1066_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1066_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1077 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u1077_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1077.mouseOver {
}
#u1078 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1079 {
  position:absolute;
  left:160px;
  top:0px;
  width:16px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#BDC3C7;
  text-align:center;
  line-height:14px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:18px;
  width:16px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u1081 {
  position:absolute;
  left:55px;
  top:15px;
  width:70px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u1082 {
  position:absolute;
  left:0px;
  top:17px;
  width:70px;
  word-wrap:break-word;
}
#u1083 {
  position:absolute;
  left:200px;
  top:51px;
  width:1166px;
  height:749px;
}
#u1083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:749px;
}
