body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8938 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
}
#u8939 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u8942 {
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u8943 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u8947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u8947 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u8948 {
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u8949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u8949 {
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u8949_img.mouseOver {
}
#u8949.mouseOver {
  opacity:0.8;
}
#u8950 {
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u8951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u8951 {
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u8951_img.mouseOver {
}
#u8951.mouseOver {
  opacity:0.8;
}
#u8952 {
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:45px;
}
#u8953 {
  position:absolute;
  left:50px;
  top:85px;
  width:1100px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u8955 {
  position:absolute;
  left:398px;
  top:200px;
}
#u8955_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8955_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8956_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8956 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8957 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8958 {
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u8959 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8955_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8960_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8960 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8961 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8962 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u8963 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8964 {
  position:absolute;
  left:643px;
  top:200px;
}
#u8964_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8965_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8965 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u8966 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8967 {
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u8968 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8964_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8964_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8969_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8969 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u8970 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8971 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u8972 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8973 {
  position:absolute;
  left:153px;
  top:200px;
}
#u8973_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8973_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8974_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8974 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8975 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8976 {
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u8977 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8973_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8973_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8978_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8978 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8979 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8980 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8982 {
  position:absolute;
  left:888px;
  top:200px;
}
#u8982_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8982_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8983_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u8984 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8985 {
  position:absolute;
  left:54px;
  top:19px;
  width:40px;
  height:40px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8982_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8982_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8987_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8987 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u8988 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8989 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991 {
  position:absolute;
  left:398px;
  top:385px;
}
#u8991_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8991_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8992_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8992 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8993 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u8994 {
  position:absolute;
  left:35px;
  top:-7px;
  width:80px;
  height:80px;
}
#u8995 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8991_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8996_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u8996 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u8997 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u8998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8998 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u8999 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9000 {
  position:absolute;
  left:643px;
  top:385px;
}
#u9000_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9000_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9001_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9001 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u9002 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u9003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9003 {
  position:absolute;
  left:47px;
  top:10px;
  width:60px;
  height:60px;
}
#u9004 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9000_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9000_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9005_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9005 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u9006 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u9007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9007 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u9008 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009 {
  position:absolute;
  left:153px;
  top:385px;
}
#u9009_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9009_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9010_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9010 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u9011 {
  position:absolute;
  left:0px;
  top:69px;
  width:150px;
  word-wrap:break-word;
}
#u9012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9012 {
  position:absolute;
  left:55px;
  top:18px;
  width:40px;
  height:40px;
}
#u9013 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9009_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9014_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u9015 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u9016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9016 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u9017 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018 {
  position:absolute;
  left:888px;
  top:385px;
}
#u9018_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9018_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9019_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9019 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u9020 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u9021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9021 {
  position:absolute;
  left:50px;
  top:12px;
  width:50px;
  height:50px;
}
#u9022 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9018_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9018_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9023_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:106px;
}
#u9023 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u9024 {
  position:absolute;
  left:0px;
  top:66px;
  width:150px;
  word-wrap:break-word;
}
#u9025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u9025 {
  position:absolute;
  left:55px;
  top:17px;
  width:40px;
  height:40px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9027 {
  position:absolute;
  left:153px;
  top:300px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9028 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9029 {
  position:absolute;
  left:398px;
  top:300px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9030 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u9031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9031 {
  position:absolute;
  left:643px;
  top:300px;
  width:149px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9032 {
  position:absolute;
  left:0px;
  top:17px;
  width:149px;
  word-wrap:break-word;
}
#u9033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9033 {
  position:absolute;
  left:888px;
  top:300px;
  width:146px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9034 {
  position:absolute;
  left:0px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u9035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9035 {
  position:absolute;
  left:153px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9036 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u9037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9037 {
  position:absolute;
  left:398px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9038 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9039 {
  position:absolute;
  left:643px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9040 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
#u9041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9041 {
  position:absolute;
  left:888px;
  top:485px;
  width:150px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u9042 {
  position:absolute;
  left:0px;
  top:17px;
  width:150px;
  word-wrap:break-word;
}
