body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1702px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10653 {
  position:absolute;
  left:0px;
  top:420px;
  width:1200px;
  height:1702px;
}
#u10654 {
  position:absolute;
  left:2px;
  top:843px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u10657 {
  position:absolute;
  left:0px;
  top:2122px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u10658 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u10661 {
  position:absolute;
  left:0px;
  top:300px;
}
#u10661_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u10661_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10662 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
}
#u10663 {
  position:absolute;
  left:2px;
  top:32px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10664 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  overflow:hidden;
}
#u10664_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(99, 209, 196, 1);
  background-image:none;
}
#u10664_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(99, 209, 196, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10665 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
}
#u10666 {
  position:absolute;
  left:2px;
  top:142px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
}
#u10667 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
  color:#FFFFFF;
}
#u10668 {
  position:absolute;
  left:2px;
  top:66px;
  width:1196px;
  word-wrap:break-word;
}
#u10669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:114px;
}
#u10669 {
  position:absolute;
  left:556px;
  top:42px;
  width:136px;
  height:114px;
}
#u10670 {
  position:absolute;
  left:2px;
  top:49px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
