body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-350px;
  width:499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1978 {
  position:absolute;
  left:555px;
  top:158px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1978_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1978.mouseOver {
  opacity:0.8;
}
#u1978_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1978.mouseDown {
  opacity:1;
}
#u1979 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1980 {
  position:absolute;
  left:563px;
  top:216px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1980_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1980.mouseOver {
  opacity:0.8;
}
#u1980_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1980.mouseDown {
  opacity:1;
}
#u1981 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1982 {
  position:absolute;
  left:568px;
  top:269px;
  width:75px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1982_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1982.mouseOver {
  opacity:0.8;
}
#u1982_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1982.mouseDown {
  opacity:1;
}
#u1983 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1984 {
  position:absolute;
  left:365px;
  top:158px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1984_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1984.mouseOver {
  opacity:0.8;
}
#u1984_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1984.mouseDown {
  opacity:1;
}
#u1985 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1986 {
  position:absolute;
  left:373px;
  top:216px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1986_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1986.mouseOver {
  opacity:0.8;
}
#u1986_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1986.mouseDown {
  opacity:1;
}
#u1987 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:378px;
  top:269px;
  width:75px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1988_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1988.mouseOver {
  opacity:0.8;
}
#u1988_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1988.mouseDown {
  opacity:1;
}
#u1989 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:734px;
  top:158px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1990_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1990.mouseOver {
  opacity:0.8;
}
#u1990_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1990.mouseDown {
  opacity:1;
}
#u1991 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1992 {
  position:absolute;
  left:742px;
  top:216px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1992_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1992.mouseOver {
  opacity:0.8;
}
#u1992_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1992.mouseDown {
  opacity:1;
}
#u1993 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:747px;
  top:269px;
  width:75px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1994_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1994.mouseOver {
  opacity:0.8;
}
#u1994_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1994.mouseDown {
  opacity:1;
}
#u1995 {
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:350px;
  top:80px;
  width:130px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1996.mouseOver {
  opacity:0.8;
}
#u1996_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1996.mouseDown {
  opacity:1;
}
#u1997 {
  position:absolute;
  left:2px;
  top:20px;
  width:126px;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:540px;
  top:80px;
  width:130px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1998_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1998.mouseOver {
  opacity:0.8;
}
#u1998_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1998.mouseDown {
  opacity:1;
}
#u1999 {
  position:absolute;
  left:2px;
  top:20px;
  width:126px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2000 {
  position:absolute;
  left:719px;
  top:80px;
  width:130px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2000_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2000.mouseOver {
  opacity:0.8;
}
#u2000_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2000.mouseDown {
  opacity:1;
}
#u2001 {
  position:absolute;
  left:2px;
  top:20px;
  width:126px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2002 {
  position:absolute;
  left:385px;
  top:354px;
  width:60px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2002_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2002.mouseOver {
  opacity:0.8;
}
#u2002_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2002.mouseDown {
  opacity:1;
}
#u2003 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2004 {
  position:absolute;
  left:395px;
  top:431px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2004_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2004.mouseOver {
  opacity:0.8;
}
#u2004_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2004.mouseDown {
  opacity:1;
}
#u2005 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2006 {
  position:absolute;
  left:398px;
  top:488px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2006_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2006.mouseOver {
  opacity:0.8;
}
#u2006_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2006.mouseDown {
  opacity:1;
}
#u2007 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2008 {
  position:absolute;
  left:400px;
  top:540px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2008_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2008.mouseOver {
  opacity:0.8;
}
#u2008_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2008.mouseDown {
  opacity:1;
}
#u2009 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2010 {
  position:absolute;
  left:575px;
  top:354px;
  width:60px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2010_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2010.mouseOver {
  opacity:0.8;
}
#u2010_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2010.mouseDown {
  opacity:1;
}
#u2011 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2012 {
  position:absolute;
  left:585px;
  top:431px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2012_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2012.mouseOver {
  opacity:0.8;
}
#u2012_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2012.mouseDown {
  opacity:1;
}
#u2013 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2014 {
  position:absolute;
  left:588px;
  top:488px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2014_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2014.mouseOver {
  opacity:0.8;
}
#u2014_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2014.mouseDown {
  opacity:1;
}
#u2015 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2016 {
  position:absolute;
  left:590px;
  top:540px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2016_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2016.mouseOver {
  opacity:0.8;
}
#u2016_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2016.mouseDown {
  opacity:1;
}
#u2017 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2018 {
  position:absolute;
  left:754px;
  top:354px;
  width:60px;
  height:60px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2018_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2018.mouseOver {
  opacity:0.8;
}
#u2018_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2018.mouseDown {
  opacity:1;
}
#u2019 {
  position:absolute;
  left:2px;
  top:13px;
  width:56px;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020 {
  position:absolute;
  left:764px;
  top:431px;
  width:40px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020.mouseOver {
  opacity:0.8;
}
#u2020_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020.mouseDown {
  opacity:1;
}
#u2021 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2022 {
  position:absolute;
  left:767px;
  top:488px;
  width:35px;
  height:35px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2022_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2022.mouseOver {
  opacity:0.8;
}
#u2022_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2022.mouseDown {
  opacity:1;
}
#u2023 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2024 {
  position:absolute;
  left:769px;
  top:540px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2024_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2024.mouseOver {
  opacity:0.8;
}
#u2024_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:401;
  font-style:normal;
  color:#FFFFFF;
}
#u2024.mouseDown {
  opacity:1;
}
#u2025 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
