body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-549px;
  width:101px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5309 {
  position:absolute;
  left:549px;
  top:130px;
  width:100px;
  height:19px;
  overflow:hidden;
}
#u5309_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5309_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5311 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5312 {
  position:absolute;
  left:24px;
  top:0px;
  width:81px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5313 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5314 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
  color:#1E1E1E;
}
#u5315 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5309_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u5316 {
  position:absolute;
  left:24px;
  top:0px;
  width:80px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5319 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5320 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5321 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5309_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u5322 {
  position:absolute;
  left:24px;
  top:0px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5323 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5324 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5325 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5326 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5327 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5328 {
  position:absolute;
  left:549px;
  top:80px;
  width:100px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5329 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5330 {
  position:absolute;
  left:550px;
  top:292px;
  width:100px;
  height:19px;
  overflow:hidden;
}
#u5330_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5330_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u5331 {
  position:absolute;
  left:24px;
  top:0px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5332 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5333 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5334 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5330_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5330_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5335 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5336 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5337 {
  position:absolute;
  left:24px;
  top:0px;
  width:81px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5338 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5339 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
  color:#1E1E1E;
}
#u5340 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5330_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5330_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u5341 {
  position:absolute;
  left:24px;
  top:0px;
  width:80px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u5342 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5343 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5344 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5345 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5346 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5347 {
  position:absolute;
  left:550px;
  top:210px;
  width:100px;
  height:19px;
  overflow:hidden;
}
#u5347_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5347_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u5348 {
  position:absolute;
  left:24px;
  top:0px;
  width:80px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5350 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5352 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5347_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5347_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5354 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5355 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5356 {
  position:absolute;
  left:24px;
  top:0px;
  width:81px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5357 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5358 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
  color:#1E1E1E;
}
#u5359 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5347_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5347_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u5360 {
  position:absolute;
  left:24px;
  top:0px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5361 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5362 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5363 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5364 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5365 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5366 {
  position:absolute;
  left:549px;
  top:160px;
  width:100px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5367 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5368 {
  position:absolute;
  left:550px;
  top:241px;
  width:100px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5369 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u5370 {
  position:absolute;
  left:550px;
  top:373px;
  width:100px;
  height:19px;
  overflow:hidden;
}
#u5370_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5370_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u5371 {
  position:absolute;
  left:24px;
  top:0px;
  width:77px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#D7D7D7;
  text-align:left;
}
#u5372 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u5373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5374 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5375 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5376 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5370_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5378 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5379 {
  position:absolute;
  left:24px;
  top:0px;
  width:81px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5380 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u5381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5381 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
  color:#1E1E1E;
}
#u5382 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5370_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u5383 {
  position:absolute;
  left:24px;
  top:0px;
  width:80px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1ABC9C;
  text-align:left;
}
#u5384 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u5386 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u5387 {
  position:absolute;
  left:4px;
  top:5px;
  width:11px;
  height:9px;
}
#u5388 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u5389 {
  position:absolute;
  left:550px;
  top:324px;
  width:100px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5390 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
