body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-72px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u4062 {
  position:absolute;
  left:72px;
  top:214px;
  width:1060px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u4063 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4064 {
  position:absolute;
  left:73px;
  top:214px;
  width:65px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4064_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4064.mouseOver {
}
#u4065 {
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4066 {
  position:absolute;
  left:137px;
  top:214px;
  width:20px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4067 {
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u4068 {
  position:absolute;
  left:157px;
  top:214px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u4069 {
  position:absolute;
  left:0px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u4071 {
  position:absolute;
  left:72px;
  top:160px;
  width:1060px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#999999;
}
#u4072 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u4073 {
  position:absolute;
  left:72px;
  top:160px;
  width:65px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u4074 {
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u4075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u4076 {
  position:absolute;
  left:72px;
  top:273px;
  width:1060px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#3BB19C;
}
#u4077 {
  position:absolute;
  left:2px;
  top:12px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4078 {
  position:absolute;
  left:73px;
  top:273px;
  width:65px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4078_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4078.mouseOver {
}
#u4079 {
  position:absolute;
  left:0px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4080 {
  position:absolute;
  left:137px;
  top:273px;
  width:20px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4082 {
  position:absolute;
  left:157px;
  top:273px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4082_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u4082.mouseOver {
}
#u4083 {
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4084 {
  position:absolute;
  left:237px;
  top:273px;
  width:20px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u4085 {
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  word-wrap:break-word;
}
#u4086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
}
#u4086 {
  position:absolute;
  left:257px;
  top:273px;
  width:80px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
}
#u4087 {
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
