body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-485px;
  width:240px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u5285 {
  position:absolute;
  left:485px;
  top:80px;
  width:115px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5286 {
  position:absolute;
  left:0px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u5287 {
  position:absolute;
  left:485px;
  top:171px;
  width:230px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5288 {
  position:absolute;
  left:0px;
  top:10px;
  width:230px;
  word-wrap:break-word;
}
#u5289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u5289 {
  position:absolute;
  left:485px;
  top:260px;
  width:205px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5290 {
  position:absolute;
  left:0px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u5291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
}
#u5291 {
  position:absolute;
  left:610px;
  top:80px;
  width:115px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u5292 {
  position:absolute;
  left:0px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5293 {
  position:absolute;
  left:485px;
  top:115px;
  width:115px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5294 {
  position:absolute;
  left:16px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u5293_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5295 {
  position:absolute;
  left:610px;
  top:115px;
  width:105px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5296 {
  position:absolute;
  left:16px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u5295_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5297 {
  position:absolute;
  left:485px;
  top:206px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5298 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5297_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5299 {
  position:absolute;
  left:555px;
  top:206px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5300 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5299_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5301 {
  position:absolute;
  left:625px;
  top:206px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5302 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5301_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5303 {
  position:absolute;
  left:485px;
  top:295px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5304 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5303_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5305 {
  position:absolute;
  left:485px;
  top:325px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5306 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5305_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5307 {
  position:absolute;
  left:485px;
  top:355px;
  width:65px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5308 {
  position:absolute;
  left:16px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5307_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
