body {
  margin:0px;
  background-color:rgba(101, 113, 128, 1);
  background-image:none;
  position:relative;
  left:-353px;
  width:492px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9796 {
  position:absolute;
  left:353px;
  top:80px;
  width:492px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u9797 {
  position:absolute;
  left:20px;
  top:15px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9798 {
  position:absolute;
  left:353px;
  top:80px;
  width:492px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u9799 {
  position:absolute;
  left:30px;
  top:22px;
  width:462px;
  word-wrap:break-word;
}
#u9800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u9800 {
  position:absolute;
  left:654px;
  top:80px;
  width:95px;
  height:100px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u9801 {
  position:absolute;
  left:10px;
  top:39px;
  width:65px;
  word-wrap:break-word;
}
#u9802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:100px;
}
#u9802 {
  position:absolute;
  left:750px;
  top:80px;
  width:95px;
  height:100px;
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  color:#999999;
  line-height:24px;
}
#u9803 {
  position:absolute;
  left:10px;
  top:39px;
  width:65px;
  word-wrap:break-word;
}
#u9804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9804 {
  position:absolute;
  left:389px;
  top:231px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9805 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9806 {
  position:absolute;
  left:353px;
  top:660px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9807 {
  position:absolute;
  left:491px;
  top:231px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9808 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9809 {
  position:absolute;
  left:592px;
  top:231px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9810 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9811 {
  position:absolute;
  left:694px;
  top:231px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9812 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9813 {
  position:absolute;
  left:389px;
  top:380px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9814 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9815 {
  position:absolute;
  left:491px;
  top:380px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9816 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9817 {
  position:absolute;
  left:592px;
  top:380px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9818 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9819 {
  position:absolute;
  left:694px;
  top:380px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9820 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9821 {
  position:absolute;
  left:389px;
  top:524px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9822 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9823 {
  position:absolute;
  left:491px;
  top:524px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9824 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9825 {
  position:absolute;
  left:592px;
  top:524px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9826 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:76px;
}
#u9827 {
  position:absolute;
  left:694px;
  top:524px;
  width:113px;
  height:76px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'FontAwesome';
  font-weight:404;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9828 {
  position:absolute;
  left:0px;
  top:30px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u9829 {
  position:absolute;
  left:427px;
  top:239px;
  width:39px;
  height:37px;
}
#u9830 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u9831 {
  position:absolute;
  left:529px;
  top:239px;
  width:39px;
  height:37px;
}
#u9832 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u9833 {
  position:absolute;
  left:630px;
  top:239px;
  width:39px;
  height:37px;
}
#u9834 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u9835 {
  position:absolute;
  left:732px;
  top:239px;
  width:39px;
  height:37px;
}
#u9836 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u9837 {
  position:absolute;
  left:427px;
  top:396px;
  width:39px;
  height:33px;
}
#u9838 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u9839 {
  position:absolute;
  left:529px;
  top:396px;
  width:39px;
  height:33px;
}
#u9840 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u9841 {
  position:absolute;
  left:630px;
  top:396px;
  width:39px;
  height:33px;
}
#u9842 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:43px;
}
#u9843 {
  position:absolute;
  left:732px;
  top:396px;
  width:39px;
  height:33px;
}
#u9844 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9845 {
  position:absolute;
  left:427px;
  top:530px;
  width:39px;
  height:39px;
}
#u9846 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9847 {
  position:absolute;
  left:529px;
  top:530px;
  width:39px;
  height:39px;
}
#u9848 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9849 {
  position:absolute;
  left:630px;
  top:530px;
  width:39px;
  height:39px;
}
#u9850 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u9851 {
  position:absolute;
  left:732px;
  top:530px;
  width:39px;
  height:39px;
}
#u9852 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
