body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u3217 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u3218 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u3221 {
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u3222 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u3226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u3226 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u3227 {
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u3228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u3228 {
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u3228_img.mouseOver {
}
#u3228.mouseOver {
  opacity:0.8;
}
#u3229 {
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u3230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u3230 {
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u3230_img.mouseOver {
}
#u3230.mouseOver {
  opacity:0.8;
}
#u3231 {
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u3232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:46px;
}
#u3232 {
  position:absolute;
  left:50px;
  top:84px;
  width:1100px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u3234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3234 {
  position:absolute;
  left:80px;
  top:170px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3234_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3234.mouseOver {
}
#u3235 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u3236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u3236 {
  position:absolute;
  left:1060px;
  top:170px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3237 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u3238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3238 {
  position:absolute;
  left:80px;
  top:235px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3238_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3238.mouseOver {
}
#u3239 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u3240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u3240 {
  position:absolute;
  left:1060px;
  top:235px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3241 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u3242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3242 {
  position:absolute;
  left:80px;
  top:300px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3242_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u3242.mouseOver {
}
#u3243 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u3244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u3244 {
  position:absolute;
  left:1060px;
  top:300px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3245 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
