body {
  margin:0px;
  background-color:rgba(113, 128, 143, 1);
  background-image:none;
  position:relative;
  left:-300px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
}
#u5045 {
  position:absolute;
  left:300px;
  top:80px;
  width:600px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:left;
}
#u5046 {
  position:absolute;
  left:30px;
  top:27px;
  width:568px;
  word-wrap:break-word;
}
.u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
  text-align:left;
}
.u5049 {
  position:absolute;
  left:50px;
  top:2px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
}
.u5050 {
  position:absolute;
  left:119px;
  top:49px;
  width:335px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
.u5051 {
  position:absolute;
  left:2px;
  top:2px;
  width:331px;
  word-wrap:break-word;
}
.u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
}
.u5052 {
  position:absolute;
  left:119px;
  top:19px;
  width:335px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.u5053 {
  position:absolute;
  left:2px;
  top:1px;
  width:331px;
  word-wrap:break-word;
}
.u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u5054 {
  position:absolute;
  left:476px;
  top:32px;
  width:85px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u5054_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u5054.mouseOver {
}
.u5054_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u5054.selected {
}
.u5054_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u5054.disabled {
}
.u5055 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
.u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
.u5056 {
  position:absolute;
  left:33px;
  top:19px;
  width:60px;
  height:60px;
}
.u5057 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5047-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:100px;
}
#u5047-2 {
  position:absolute;
  left:0px;
  top:100px;
  width:600px;
  height:100px;
}
#u5047-3 {
  position:absolute;
  left:0px;
  top:200px;
  width:600px;
  height:100px;
}
#u5047-4 {
  position:absolute;
  left:0px;
  top:300px;
  width:600px;
  height:100px;
}
#u5047-5 {
  position:absolute;
  left:0px;
  top:400px;
  width:600px;
  height:100px;
}
#u5047-6 {
  position:absolute;
  left:0px;
  top:500px;
  width:600px;
  height:100px;
}
#u5047-7 {
  position:absolute;
  left:0px;
  top:600px;
  width:600px;
  height:100px;
}
#u5047-8 {
  position:absolute;
  left:0px;
  top:700px;
  width:600px;
  height:100px;
}
#u5047-9 {
  position:absolute;
  left:0px;
  top:800px;
  width:600px;
  height:100px;
}
#u5047-10 {
  position:absolute;
  left:0px;
  top:900px;
  width:600px;
  height:100px;
}
#u5047 {
  position:absolute;
  left:300px;
  top:160px;
  width:600px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5058 {
  position:absolute;
  left:382px;
  top:1134px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5059 {
  position:absolute;
  left:670px;
  top:100px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u5059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5059.mouseOver {
  opacity:0.8;
}
#u5059_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5059.mouseDown {
}
#u5060 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u5061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5061 {
  position:absolute;
  left:776px;
  top:100px;
  width:100px;
  height:40px;
  color:#FFFFFF;
}
#u5061_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5061.mouseOver {
  opacity:0.8;
}
#u5061_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5061.mouseDown {
}
#u5062 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
