body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10705 {
  position:absolute;
  left:0px;
  top:80px;
}
#u10705_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10705_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10706 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1000px;
}
#u10707 {
  position:absolute;
  left:2px;
  top:492px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u10710 {
  position:absolute;
  left:0px;
  top:1000px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u10711 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u10714 {
  position:fixed;
  left:50%;
  margin-left:-600px;
  top:0px;
}
#u10714_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u10714_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:19px;
}
#u10715 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  font-size:18px;
  line-height:19px;
}
#u10716 {
  position:absolute;
  left:2px;
  top:17px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10714_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u10714_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u10717 {
  position:absolute;
  left:1058px;
  top:0px;
  width:139px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u10717_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u10717.mouseOver {
}
#u10717_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u10717.mouseDown {
  opacity:0.8;
}
#u10717_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u10717.selected {
}
#u10718 {
  position:absolute;
  left:0px;
  top:17px;
  width:139px;
  word-wrap:break-word;
}
#u10719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:19px;
}
#u10719 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:150px;
  font-size:18px;
  line-height:19px;
}
#u10720 {
  position:absolute;
  left:2px;
  top:67px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10721 {
  position:fixed;
  left:50%;
  margin-left:-25px;
  top:50px;
}
#u10721_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10721_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10722 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u10722_img.mouseOver {
}
#u10722.mouseOver {
}
#u10723 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u10721_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10721_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10724 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u10724_img.mouseOver {
}
#u10724.mouseOver {
}
#u10725 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
