body {
  margin:0px;
  background-color:rgba(101, 113, 128, 1);
  background-image:none;
  position:relative;
  left:-463px;
  width:292px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8847 {
  position:absolute;
  left:463px;
  top:80px;
}
#u8847_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8848 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8849 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8850 {
  position:absolute;
  left:10px;
  top:0px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8850_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8850.mouseOver {
}
#u8850_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8850.mouseDown {
  opacity:0.8;
}
#u8850_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8850.selected {
}
#u8851 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8852 {
  position:absolute;
  left:110px;
  top:0px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8852_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8852.mouseOver {
}
#u8852_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8852.mouseDown {
  opacity:0.8;
}
#u8852_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8852.selected {
}
#u8853 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8854 {
  position:absolute;
  left:160px;
  top:0px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8854_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8854.mouseOver {
}
#u8854_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8854.mouseDown {
  opacity:0.8;
}
#u8854_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8854.selected {
}
#u8855 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u8856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8856 {
  position:absolute;
  left:210px;
  top:0px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8856_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8856.mouseOver {
}
#u8856_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8856.mouseDown {
  opacity:0.8;
}
#u8856_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8856.selected {
}
#u8857 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8858 {
  position:absolute;
  left:60px;
  top:0px;
  width:50px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8858_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8858.mouseOver {
}
#u8858_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8858.mouseDown {
  opacity:0.8;
}
#u8858_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u8858.selected {
}
#u8859 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u8860_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:24px;
}
#u8860 {
  position:absolute;
  left:136px;
  top:11px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
  line-height:12px;
}
#u8860_img.mouseOver {
}
#u8860.mouseOver {
  opacity:0.800000011920929;
}
#u8861 {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u8862 {
  position:absolute;
  left:560px;
  top:168px;
}
#u8862_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8862_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:340px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  line-height:19px;
}
#u8863 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:340px;
  font-size:19px;
  line-height:19px;
}
#u8864 {
  position:absolute;
  left:2px;
  top:162px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8865 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8865_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8865.mouseOver {
}
#u8865_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8865.mouseDown {
  opacity:0.8;
}
#u8865_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8865.selected {
}
#u8866 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u8867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8867 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8867_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8867.mouseOver {
}
#u8867_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8867.mouseDown {
  opacity:0.8;
}
#u8867_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8867.selected {
}
#u8868 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u8869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8869 {
  position:absolute;
  left:0px;
  top:200px;
  width:80px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8869_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8869.mouseOver {
}
#u8869_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8869.mouseDown {
  opacity:0.8;
}
#u8869_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8869.selected {
}
#u8870 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u8871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8871 {
  position:absolute;
  left:0px;
  top:260px;
  width:80px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8871.mouseOver {
}
#u8871_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8871.mouseDown {
  opacity:0.8;
}
#u8871_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8871.selected {
}
#u8872 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u8873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8873 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:60px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8873_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8873.mouseOver {
}
#u8873_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8873.mouseDown {
  opacity:0.8;
}
#u8873_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:19px;
}
#u8873.selected {
}
#u8874 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  word-wrap:break-word;
}
#u8875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u8875 {
  position:absolute;
  left:85px;
  top:19px;
  width:110px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:16px;
}
#u8876 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u8877_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:22px;
  height:24px;
}
#u8877 {
  position:absolute;
  left:42px;
  top:149px;
  width:20px;
  height:20px;
  font-size:10px;
  color:#FFFFFF;
  line-height:12px;
}
#u8877_img.mouseOver {
}
#u8877.mouseOver {
  opacity:0.800000011920929;
}
#u8878 {
  position:absolute;
  left:0px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
