body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-357px;
  width:485px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2026 {
  position:absolute;
  left:357px;
  top:150px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2026_img.mouseOver {
}
#u2026.mouseOver {
  opacity:0.8;
}
#u2026_img.mouseDown {
}
#u2026.mouseDown {
  opacity:1;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2028 {
  position:absolute;
  left:529px;
  top:150px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2028_img.mouseOver {
}
#u2028.mouseOver {
  opacity:0.8;
}
#u2028_img.mouseDown {
}
#u2028.mouseDown {
  opacity:1;
}
#u2029 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2030 {
  position:absolute;
  left:357px;
  top:216px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2030_img.mouseOver {
}
#u2030.mouseOver {
  opacity:0.8;
}
#u2030_img.mouseDown {
}
#u2030.mouseDown {
  opacity:1;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(236, 240, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u2032 {
  position:absolute;
  left:529px;
  top:216px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u2032_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(236, 240, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u2032.mouseOver {
  opacity:0.8;
}
#u2032_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(236, 240, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u2032.mouseDown {
  opacity:1;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2034 {
  position:absolute;
  left:701px;
  top:150px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2034_img.mouseOver {
}
#u2034.mouseOver {
  opacity:0.8;
}
#u2034_img.mouseDown {
}
#u2034.mouseDown {
  opacity:1;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u2036 {
  position:absolute;
  left:702px;
  top:216px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2036_img.mouseOver {
}
#u2036.mouseOver {
  opacity:0.8;
}
#u2036_img.mouseDown {
}
#u2036.mouseDown {
  opacity:1;
}
#u2037 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
