body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-354px;
  width:508.5px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8059 {
  position:absolute;
  left:355px;
  top:141px;
}
#u8059_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8059_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:150px;
}
#u8060 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:231px;
  height:150px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u8061 {
  position:absolute;
  left:11px;
  top:11px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8062 {
  position:absolute;
  left:1px;
  top:40px;
  width:228px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8063 {
  position:absolute;
  left:15px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u8064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u8064 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8065 {
  position:absolute;
  left:15px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u8066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8066 {
  position:absolute;
  left:198px;
  top:17px;
  width:10px;
  height:10px;
}
#u8066_img.mouseOver {
}
#u8066.mouseOver {
}
#u8067 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8068 {
  position:absolute;
  left:354px;
  top:314px;
}
#u8068_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8068_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:149px;
}
#u8069 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:149px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u8070 {
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8071 {
  position:absolute;
  left:1px;
  top:50px;
  width:228px;
  height:99px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8072 {
  position:absolute;
  left:15px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u8073 {
  position:absolute;
  left:0px;
  top:10px;
  width:230px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8074 {
  position:absolute;
  left:15px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8075 {
  position:absolute;
  left:198px;
  top:27px;
  width:10px;
  height:10px;
}
#u8075_img.mouseOver {
}
#u8075.mouseOver {
}
#u8076 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077 {
  position:absolute;
  left:618px;
  top:323px;
}
#u8077_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8077_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:244px;
}
#u8078 {
  position:absolute;
  left:51px;
  top:-51px;
  width:143px;
  height:244px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u8079 {
  position:absolute;
  left:11px;
  top:11px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8080 {
  position:absolute;
  left:3px;
  top:42px;
  width:230px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8081 {
  position:absolute;
  left:15px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u8082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:0px;
  width:230px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8083 {
  position:absolute;
  left:15px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8084 {
  position:absolute;
  left:201px;
  top:17px;
  width:10px;
  height:10px;
}
#u8084_img.mouseOver {
}
#u8084.mouseOver {
}
#u8085 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086 {
  position:absolute;
  left:608px;
  top:140px;
}
#u8086_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8086_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:244px;
}
#u8087 {
  position:absolute;
  left:52px;
  top:-52px;
  width:141px;
  height:244px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:40px;
}
#u8088 {
  position:absolute;
  left:11px;
  top:11px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8089 {
  position:absolute;
  left:12px;
  top:41px;
  width:232px;
  height:98px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u8090 {
  position:absolute;
  left:15px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u8091 {
  position:absolute;
  left:12px;
  top:0px;
  width:233px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8092 {
  position:absolute;
  left:15px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u8093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8093 {
  position:absolute;
  left:212px;
  top:17px;
  width:10px;
  height:10px;
}
#u8093_img.mouseOver {
}
#u8093.mouseOver {
}
#u8094 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
