body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-262px;
  width:676px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3596 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3597 {
  position:absolute;
  left:286px;
  top:121px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3598 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3599_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3599 {
  position:absolute;
  left:326px;
  top:138px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3600 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3601 {
  position:absolute;
  left:488px;
  top:121px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3602 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3603_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3603 {
  position:absolute;
  left:528px;
  top:138px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3604 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3605 {
  position:absolute;
  left:889px;
  top:120px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3606 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3607 {
  position:absolute;
  left:262px;
  top:159px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3608 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3609 {
  position:absolute;
  left:462px;
  top:159px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3610 {
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3611 {
  position:absolute;
  left:691px;
  top:120px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3612 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3613_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3613 {
  position:absolute;
  left:731px;
  top:137px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3614 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3615 {
  position:absolute;
  left:675px;
  top:158px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3616 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3617 {
  position:absolute;
  left:870px;
  top:158px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3618 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3620 {
  position:absolute;
  left:286px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3621 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3622_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3622 {
  position:absolute;
  left:326px;
  top:243px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3623 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3624 {
  position:absolute;
  left:488px;
  top:226px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3625 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3626_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3626 {
  position:absolute;
  left:528px;
  top:243px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3627 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3628 {
  position:absolute;
  left:889px;
  top:225px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3629 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3630 {
  position:absolute;
  left:262px;
  top:264px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3631 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3632 {
  position:absolute;
  left:462px;
  top:264px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3633 {
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3634 {
  position:absolute;
  left:691px;
  top:225px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3635 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3636_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3636 {
  position:absolute;
  left:731px;
  top:242px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3637 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3638 {
  position:absolute;
  left:675px;
  top:263px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3639 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3640 {
  position:absolute;
  left:870px;
  top:263px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3641 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3643 {
  position:absolute;
  left:286px;
  top:321px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3644 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3645_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3645 {
  position:absolute;
  left:326px;
  top:338px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3646 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3647 {
  position:absolute;
  left:488px;
  top:321px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3648 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3649_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3649 {
  position:absolute;
  left:528px;
  top:338px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3650 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3651 {
  position:absolute;
  left:889px;
  top:320px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#999999;
}
#u3652 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3653 {
  position:absolute;
  left:262px;
  top:359px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3654 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3655 {
  position:absolute;
  left:462px;
  top:359px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3656 {
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3657 {
  position:absolute;
  left:691px;
  top:320px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3658 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3659_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3659 {
  position:absolute;
  left:731px;
  top:337px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3660 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3661 {
  position:absolute;
  left:675px;
  top:358px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3663 {
  position:absolute;
  left:870px;
  top:358px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3664 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3666 {
  position:absolute;
  left:286px;
  top:413px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3667 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3668_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3668 {
  position:absolute;
  left:326px;
  top:430px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3669 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3670 {
  position:absolute;
  left:488px;
  top:413px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3671 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3672_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3672 {
  position:absolute;
  left:528px;
  top:430px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3673 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3674 {
  position:absolute;
  left:889px;
  top:412px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3675 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3676 {
  position:absolute;
  left:262px;
  top:451px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3677 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u3678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3678 {
  position:absolute;
  left:462px;
  top:451px;
  width:76px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3679 {
  position:absolute;
  left:10px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3680 {
  position:absolute;
  left:691px;
  top:412px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:26px;
  color:#1ABC9C;
}
#u3681 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u3682_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:153px;
  height:5px;
}
#u3682 {
  position:absolute;
  left:731px;
  top:429px;
  width:150px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u3683 {
  position:absolute;
  left:2px;
  top:-7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3684 {
  position:absolute;
  left:675px;
  top:450px;
  width:63px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3686 {
  position:absolute;
  left:870px;
  top:450px;
  width:68px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1ABC9C;
  text-align:center;
  line-height:20px;
}
#u3687 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
