body {
  margin:0px;
  background-color:rgba(52, 73, 94, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
}
#u9284 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:600px;
  font-family:'FontAwesome';
  font-weight:401;
  font-style:normal;
}
#u9285 {
  position:absolute;
  left:2px;
  top:292px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u9288 {
  position:absolute;
  left:0px;
  top:630px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u9289 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u9293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u9293 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u9294 {
  position:absolute;
  left:50px;
  top:20px;
  width:1148px;
  word-wrap:break-word;
}
#u9295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:100px;
}
#u9295 {
  position:absolute;
  left:1031px;
  top:30px;
  width:169px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
  text-align:right;
}
#u9295_img.mouseOver {
}
#u9295.mouseOver {
  opacity:0.8;
}
#u9296 {
  position:absolute;
  left:2px;
  top:38px;
  width:117px;
  word-wrap:break-word;
}
#u9297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:100px;
}
#u9297 {
  position:absolute;
  left:902px;
  top:30px;
  width:129px;
  height:100px;
  font-size:18px;
  color:#FFFFFF;
}
#u9297_img.mouseOver {
}
#u9297.mouseOver {
  opacity:0.8;
}
#u9298 {
  position:absolute;
  left:2px;
  top:38px;
  width:125px;
  word-wrap:break-word;
}
#u9299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:46px;
}
#u9299 {
  position:absolute;
  left:50px;
  top:84px;
  width:1100px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9300 {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  word-wrap:break-word;
}
#u9301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9301 {
  position:absolute;
  left:80px;
  top:170px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9301_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9301.mouseOver {
}
#u9302 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u9303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u9303 {
  position:absolute;
  left:1060px;
  top:170px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u9304 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u9305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9305 {
  position:absolute;
  left:80px;
  top:235px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9305_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9305.mouseOver {
}
#u9306 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u9307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u9307 {
  position:absolute;
  left:1060px;
  top:235px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u9308 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u9309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9309 {
  position:absolute;
  left:80px;
  top:300px;
  width:1040px;
  height:65px;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9309_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
  text-align:left;
}
#u9309.mouseOver {
}
#u9310 {
  position:absolute;
  left:10px;
  top:21px;
  width:1030px;
  word-wrap:break-word;
}
#u9311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:65px;
}
#u9311 {
  position:absolute;
  left:1060px;
  top:300px;
  width:60px;
  height:65px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u9312 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
